graph{
    fill-mode: dyn-plain;
}

graph.edit{
    fill-mode: plain;
    fill-color: #f5deb3;
}

graph.run{
    fill-mode: plain;
    fill-color: #87cefa;
}

graph.addtokens{
    fill-mode: plain;
    fill-color: #98fb98;
}

graph.removetokens{
    fill-mode: plain;
    fill-color: #f08080;
}

edge {
    arrow-size: 0.35gu, 0.18gu;
}

edge:selected {
    fill-color: cyan;
    size: 3px;
}

node {
    shape: triangle;
    fill-color: red;
    stroke-color: black;
}

sprite.label {
    text-background-mode: none;
    text-size: 20gu;
    fill-mode: none;
    text-visibility-mode: under-zoom;
    text-visibility: 0.2;
}

sprite.tokens {
    shape: circle;
    text-background-mode: none;
    text-size: 20gu;
    fill-mode: plain;
    fill-color: gold;
    size: 0.8gu, 0.8gu;
    text-visibility-mode: under-zoom;
    text-visibility: 0.3;
    visibility-mode: under-zoom;
    visibility: 0.3;
}

node.place {
    shape: circle;
    fill-color: blue;
    stroke-color: black;
}

node.transition {
    shape: box;
}

node.activated {
    stroke-mode: plain;
    stroke-color: orange;
    stroke-width: 0.07gu;
}

node.ready {
    fill-color: lightgreen;
}

node.active {
    fill-color: orange;
}

node.hide {
    fill-mode: none;
    visibility-mode: hidden;
    text-mode: hidden;
}

edge.hide {
    fill-mode: none;
    visibility-mode: hidden;
    text-mode: hidden;
}

sprite.hide {
    fill-mode: none;
    visibility-mode: hidden;
    text-mode: hidden;
}

node:selected {
    stroke-mode: plain;
    stroke-color: red;
}

node:clicked {
    fill-color: green;
}
