graph{
    fill-mode: plain;
    fill-color: rgb(220,220,220);
}

edge {
    arrow-size: 0.35gu, 0.18gu;
}

edge:selected {
    fill-color: cyan;
    size: 3px;
}

node {
    shape: cross;
    fill-color: #f07575;
    stroke-color: black;
}

sprite.label {
    text-background-mode: none;
    text-size: 20gu;
    fill-mode: none;
    text-visibility-mode: under-zoom;
    text-visibility: 0.2;
}

sprite.tokens {
    shape: circle;
    text-background-mode: none;
    text-size: 20gu;
    fill-mode: plain;
    fill-color: gold;
    size: 0.8gu, 0.8gu;
    text-visibility-mode: under-zoom;
    text-visibility: 0.3;
    visibility-mode: under-zoom;
    visibility: 0.3;
}

node.place {
    shape: circle;
    fill-color: #1e7290;
    stroke-color: black;
}

node.transition {
    shape: box;
}

node.activated {
    stroke-mode: plain;
    stroke-color: orange;
    stroke-width: 0.07gu;
}

node.ready {
    fill-color: lightgreen;
}

node.goodHover {
    fill-color: #2b842b;
}

node.badHover {
    fill-color: #ff0000;
}

node.active {
    fill-color: orange;
}

node.hide {
    fill-mode: none;
    visibility-mode: hidden;
    text-mode: hidden;
}

edge.hide {
    fill-mode: none;
    visibility-mode: hidden;
    text-mode: hidden;
}

sprite.hide {
    fill-mode: none;
    visibility-mode: hidden;
    text-mode: hidden;
}

node:selected {
    stroke-mode: plain;
    stroke-color: red;
}

node:clicked {
    fill-color: green;
}
